/*
  Reset default css
*/

html {
  font-size: $font-size-base-px;
}

body {
  font-size:     $font-size-base;
  font-family:   $fontfamily-gothic;
  color:         $font-color-base;
  margin:        0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
