/* ---------------
  variables 
----------------- */

// color - font
$fontColor-light:       #ffffff;
$fontColor-base:        #333333;
$fontColor-link:        #00619a;

// color - backgorund
$bgColor-dark:          #333333;
$borderColor-light:     #b7b7b7;

// font family 
$fontFamily-gothic:     'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
$fontFamily-serif:      "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

// font size
$font-size-base-px:     15px;
$font-size-heading1:    1.0rem * (40px / $font-size-base-px); //40px
$font-size-heading2:    1.0rem * (24px / $font-size-base-px); //24px
$font-size-base:        1.0rem; //15px (default)

// width 
$max-width:             1000px;
