/* --------
   header 
---------- */

//navigation
.global-nav {
  margin:               0;
  padding-top:          $space-large-x;
  list-style:           none;
  text-align:           right;
  &__item {
    display:            inline-block;
    margin:             0 $space-small-x;
    cursor:             pointer;
    a {
      padding:          $space-small-x $space-regular;
      color:            $font-color-light;
    }
  }
}


