/*  ---------------------
  layouts
------------------------- */

// whole area
.content {
  margin:               40px 0;
  &__inner {
    max-width:          $max-width;
    width:              100%;
    margin:             0 auto;
    position:           relative;
    &--footer {
      padding:          16px 0;
    }
  }
}

//2 columns - main area
.main {
  display:              inline-block;
  width:                calc(100% - (64px + 220px));  // 100% - (.mainの左右マージン + sidebar width)
  margin:               0 32px;
  &__section:not(:last-child) {
    margin-bottom:      40px;
  }
}

// 2 columns - side area
.sidebar {
  position:             absolute;
  top:                  0;
  right:                0;
  width:                220px;
  &__list {
    padding-left:       1.2em;
  }
  &__listItem {
    padding:            4px 0; 
    a {
      display:          inline-block;
      width:            100%;
      color:            $fontColor-base;
    }
    &:not(:first-child) {
      margin-top:       8px;
    }
  }
}
